body {
    background-color: #253840 ;
}


.uk-modal-dialog {
    width: 50vw;
    min-width: 750px;
    height: 55vh;
    padding: 3% 4% 3% 4%;

    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}

.dados {
    border-radius: 15px;
    border: 0px;

    width: 65%;
    height: 3vh;
    padding: 1%;
    padding-left: 1.5%;
    margin: 1.5%;
    outline: none;
    font-size: medium;

    background: #C4C4C4;
}

.input:focus {
    outline: none;
}

.buttonsave {
    height: 3.25vh;
    width: 16%;
    border-radius: 7px;
    border: 0px;
    margin: 1.5%;
    
    background-color: #9AD9A3 ;
    color: #FFFFFF;
    font-size: medium;
}
.buttonsave:hover{
    cursor: pointer;
    background-color: #5ABF69;
}

.btn {
    height: 3.25vh;
    width: 16%;
    border-radius: 7px;
    border: 0px;
    margin: 1.5%;
    
   
    color: #FFFFFF;
    font-size: medium;
}
